In [10]:
import os
import pandas as pd
import numpy as np
import sqlalchemy
import chardet
import sqlalchemy
import pathlib
import datefinder
import datetime
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base

In [2]:
db_engine = sqlalchemy.create_engine('sqlite:///DataBase.db')

In [9]:
session = Session(db_engine)

In [12]:
Base = sqlalchemy.ext.automap.automap_base()
Base.prepare(db_engine, reflect=True)

In [20]:
Table_Name = Base.classes.keys

In [23]:
pd.read_sql_table('precio',db_engine,index_col=False)

           index sucursal_id      producto_id  precio
0              0      1-1-12    00042096276.0   168.1
1              1      1-1-12    00042126560.0   160.9
2              2      1-1-12    00042231301.0   160.9
3              3      1-1-12    00042231486.0   215.5
4              4      1-1-12    00042231509.0   184.9
...          ...         ...              ...     ...
1459714  1629290     9-3-628  7898587761185.0  4490.0
1459715  1629291     9-3-628  7898587761215.0  4190.0
1459716  1629293     9-3-628  7898587761284.0  4490.0
1459717  1629295     9-3-628  7898587761314.0  6250.0
1459718  1629296     9-3-628  7898587761338.0  4190.0

[1459719 rows x 4 columns]